<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello {{fullname}}</h2>
    <p>Trang này chứa thông tin của bài có ID là <i style="color: red;">{{courses.idProblem}}</i></p>
    <p>quay trở về danh sách bài: <a href="/course">click hear</a></p>
    <p>link dẫn đến bài: <a href="/course/{{course.idProblem}}/learn">click hear</a></p>
</body>
</html>