<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="vendor/aos/aos.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />
    <style>
      html {
        height: 100%;
      }
      header {
        background-color: #37517e;
      }
      .section-title {
        margin-top: 40px;
      }
      .form-forgot {
        margin-top: 5px;
      }
      .form-forgot button {
        margin-top: 5px;
      }
    </style>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">PEProject</a></h1>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Trang chủ</a></li>
            <li><a href="#">PE</a></li>
            <li><a href="#">FE</a></li>
            <li class="drop-down">
              <a href="">Câu hỏi thường gặp</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down">
                  <a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
            <li><a href="#contact">Liên hệ</a></li>
            <li><a href="#" class="login-btn text-uppercase">Đăng nhập</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
        <a href="#" class="signup-btn scrollto text-uppercase">Đăng ký</a>
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section>
        <div class="container h-100">
          <div class="section-title">
            <h2>Quên mật khẩu</h2>
          </div>
          <p style="text-align: center">
            Lấy lại mật khẩu bằng địa chỉ email của bạn
          </p>
          <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-6 align-self-center form-forgot">
                <label for="name">Địa chỉ email của bạn</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div class="validate"></div>
                <button type="submit" class="btn btn-danger">Khôi phục</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>PE Project</h3>
              <p>
                Khu công nghệ cao Hoà Lạc<br />
                Km29, ĐCT08, Thạch Hoà, Thạch Thất, Hà Nội 100000<br />
                Việt Nam <br /><br />
                <strong>Điện thoại:</strong
                ><a href="tel:+84396902252"> +84 396902252</a><br />
                <strong>Email:</strong
                ><a href="mailto:ngotuananh2101@gmail.com">
                  ngotuananh2101@gmail.com</a
                ><br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Liên kết hữu ích</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Ttrang chủ</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">Giới thiệu</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#team">Nhóm của tôi</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#contact">Liên hệ</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>FPT University</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">PE</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">FE</a></li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Câu hỏi thường gặp</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Mạng xã hội</h4>
              <p>
                Bạn có thể theo dõi và liên hệ với chúng tôi qua các mạng xã hội
                bên dưới
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>PE Project</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
